.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel {
  width:auto;
  height: 360px;
  background-color: gray;
} 

.slider-container {
  width: auto;
  height: 360px;
  position:center;
  top:0;
  left:0;
  }

  .footer{
    background-color: #9f9f9f;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: rgb(59, 57, 57);
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: #3b3b3b;
}