/* CAROUSEL */
.carousel {
    width:auto;
    height: 360px;
    background-color: gray;
  } 
  
  .slider-container {
    width: auto;
    height: 360px;
    position:center;
    top:0;
    left:0;
    }
img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}