/* CAROUSEL */
.carousel {
    width:auto;
    height: 360px;
    background-color: lightgray;
  } 
  
  .slider-container {
    width: auto;
    height: 360px;
    position:center;
    top:0;
    left:0;
    border-radius: 10px;
    }

  img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.caption {
  background-color: lightgray;
  opacity: 75%;
}

.captiontext {
  color: black;
  opacity: 100%;
}

.carouselimg {
  border-radius: 10px;
}