  .footer{
    background-color: black;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: white;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}